@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(254, 240, 214);
    background: linear-gradient(236deg, rgba(254, 240, 214, 1) 15%, rgba(250, 207, 207, 1) 39%, rgba(210, 218, 233, 1) 91%);
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}


.taskContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin: 40px;
}